/* mic test 1 2 3 */

body,
html {
    font-family: "Xanh Mono", serif;
    height: 100%;
    /* max-width: 500px; */
    /* display: flex; */
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: rgba(255, 226, 188, 0.612);
    color: rgb(112, 128, 218);
    /* color: #ffedf8; */

}

#background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

#main-container {
    width: 100%;
    height: 90%;
    /* padding: 100px 0; */
    /* margin-top: -200px; */
    position: relative;
}


#container {
    display: table;
    width: 70%;
    height: 100%;
    /* margin-top: 100px; */
    padding: 0 15%;
}

#cell {
    display: table-cell;
    vertical-align: middle;
}

.xanh-mono-regular {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.italic {
    font-family: "Xanh Mono", monospace;
    font-weight: 400;
    font-style: italic;
    font-size: small;
}

p {
    /* padding-top: 10rem; */
    padding-bottom: 0.7rem;
    font-size: 1rem;
}

p.link {
    /* padding-top: 10rem; */
    padding-bottom: 2rem;
    font-size: small;
}

p.paragraph {
    /* padding-top: 10rem; */
    padding-bottom: 0.5rem;
    font-size: small;
}

p.back {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    /* font-size:small; */
}

h1 {
    /* font-size: xx-large; */
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
}

h3 {
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
}

a {
    font-size: 1rem;
    color: rgb(112, 128, 218);
}

a:hover {
    font-size: 1rem;
    color: #8e60a3;
}

a.paragraph {
    font-size: small;
    color: rgb(112, 128, 218);
}

a.paragraph:hover {
    font-size: small;
    color: #8e60a3;
}

a.tinylink {
    font-size: smaller;
    color: rgb(112, 128, 218);
}

a.tinylink:hover {
    font-size: smaller;
    color: #8e60a3;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}